<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
    <test name="NameOFTest">
        <classes>
            <class name="Tests.CreateNewFolderTest" />
            <class name="Tests.LoginDomikTests" />
            <class name="Tests.MenuItemsTests" />
        </classes>
    </test>
</suite>